.logIn {
  width: 60vw;
  margin: 0 auto;
  padding: 20px 0;
  .logIn__header {
    height: 30px;
    text-transform: uppercase;
    @include flexParent(row, nowrap, flex-start, center);
    font-size: 23px;

    max-width: 800px;
    margin: 0 auto 25px auto;
    @include for-size(m) {
      font-size: 30px;
    }
  }
  .logIn__header::before {
    background-color: $red-color;
    content: "";
    display: block;
    margin-right: 20px;
    height: 100%;
    width: 2px;
  }
  .logIn__form {
    background-color: white;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

    .logIn__form-element {
      @include flexParent(column, nowrap, flex-start, flex-start);

      max-width: 400px;
      margin: 20px auto;
      @include for-size(m) {
        @include flexParent(row, nowrap, flex-start, center);
      }
      .logIn__label {
        margin-bottom: 5px;
        @include for-size(m) {
          margin-right: 30px;
          font-size: 18px;
        }
      }
      .logIn__input {
        border: 1px solid $border-color;
        padding: 10px;
        width: 90%;
        font-size: 13px;
        height: 20px;
        @include for-size(m) {
          font-size: 15px;
          height: 35px;
        }
      }
    }

    .logIn__form-element--right {
      max-width: 400px;
      @include flexParent(row, wrap, flex-end, center);
      margin: 30px auto 0 auto;
      @include for-size(m) {
        @include flexParent(row, wrap, flex-end, center);
      }

      .logIn__link {
        color: $text-color;
        text-decoration: underline;
        font-size: 15px;
      }
      .logIn__form-button--container {
        max-width: 400px;
        width: 100%;
        margin: 30px 0 0 0;
        .logIn__button {
          display: flex;
          margin: 0 0 0 auto;
        }
      }
      .logIn__link:hover {
        text-decoration: none;
      }
      .logIn__link:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}
