.basket {
    cursor: pointer;
  display: none;
  height: 40px;
  @include for-size(xm){
     @include flexParent(row,nowrap,flex-start,center);
  }

  .basket__icon-container {
      background-color: $red-color;
      color: white;
      height: 100%;
      min-width:40px;
      @include flexParent(row,nowrap,center,center);
    .basket__icon-number {
        @include for-size(xm){
         top: 5%;
         height: 15px;
         width: 15px;
         right: 0;
         }
    }
    .basket__icon {
        font-size:20px;
        transform: translateX(-2px);
     
    }
  }
  .basket__price-container {
    @include flexParent(row,nowrap,flex-start,center);
    height: 40px;
    border: 1px solid $border-color;
      .basket__info {
          height: 100%;
          padding: 5px;
        @include flexParent(column,nowrap,center,flex-start);
        font-size: 8px;
        font-weight: $font-w-bold;
        border-left: none;
      
      .basket__info-text {
          text-transform: uppercase;
         
      }
      .basket__info-price {
        font-size: 12px;
      }
    }
    .basket__info-icon--container {
        padding: 0 10px;
        transform: rotate(-90deg);
        border-top: 1px solid $border-color;
      .basket__info-icon {
          font-size: 10px;

      }
    }
   
  }
  
}
