.basket {
  cursor: pointer;
  display: none;
margin-left: 20px;
  max-width: 220px;
  max-height: 60px;
  height: 100%;
  @include for-size(m) {
    @include flexParent(row, nowrap, flex-start, center);
  }

  .basket__icon-container {
    background-color: $red-color;
    color: white;
    height: 100%;
    min-width: 40px;
    width: 3vw;
    max-width: 60px;
    @include flexParent(row, nowrap, center, center);
    .basket__icon-number {
      @include for-size(xm) {
        top: 5%;
        height: 15px;
        width: 15px;
        right: 0;
      }
      @include for-size(m){
        height: 15px;
        width: 15px;
        font-size: 7px;
    }
    @include for-size(l){
        height: 19px;
        width: 19px;
        font-size: 9px;
    }
    }
    .basket__icon {
      font-size: 2vw;
      transform: translateX(-2px);
      @include for-size(m) {
        font-size: 20px;
      }
      @include for-size(l) {
        font-size: 25px;
      }
    }
  }
  .basket__price-container {
    @include flexParent(row, nowrap, space-between, center);
    height: 40px;
    border: 1px solid $border-color;
    height: 100%;
    max-width: 160px;
    @include for-size(m) {
      width: 150px;
    }
    .basket__info {
      height: 100%;
      padding: 5px;
      @include flexParent(column, nowrap, center, flex-start);
      font-size: 8px;
      font-weight: $font-w-bold;
      border-left: none;

      .basket__info-text {
        text-transform: uppercase;
        @include for-size(m) {
          font-size: 11px;
        }
      }
      .basket__info-price {
        font-size: 12px;
        @include for-size(m) {
          font-size: 14px;
        }
      }
    }
    .basket__info-icon--container {
      padding: 0 10px;
      transform: rotate(-90deg);
      border-top: 1px solid $border-color;
      .basket__info-icon {
        font-size: 10px;
      }
    }
  }
}
