.categoryPopup {
  position: absolute;
  padding: 20px 0;
  border-bottom: 1px $border-color solid;
  top: $logoSection-height;
  left: 0;
  width: 100vw;
  background-color: white;
  @include for-size(m){
    top: 145px;
  }
  
  .categoryPopup__container {
    @include flexParent(row, nowrap, flex-start, center);

    .categoryPopup__list {
      @include flexParent(row, wrap, space-evenly, flex-start);
      min-width: 80%;
      .categoryPopup__element {
         
        width: 30%;
        @include flexParent(row, nowrap, flex-start, center);
        margin: 10px 0;
        .categoryPopup__icon {
          color: $text-color;
          font-size: 30px;
          transition: .3s;
          @include for-size(m){
            font-size: 35px;
          }
        }
        .categoryPopup__link {
          color: $text-color;
          margin-left: 10px;
          text-transform: uppercase;
          font-size: 8px;
          transition: .3s;
          @include for-size(m){
            font-size: 12px;
          }
        }
        @include for-size(l){
          margin-left: 15px;
        }
      }
      .categoryPopup__element:hover{
          
           .categoryPopup__icon{
            color: $red-color;

          }
          .categoryPopup__link{
          color: $red-color;

          }
      }
    }
    .categoryPopup__image-container {
      display: block;
      position: relative;
      background-image: url("../images/blog_02.jpg");
      background-color: sandybrown;
      width: 100%;
      min-height: 200px;

      .categoryPopup__image-name {
        position: absolute;
        text-transform: uppercase;
        bottom: 50px;
        font-weight: $font-w-light;
        color: white;
        left: 15%;
      }
      .categoryPopup__image-company {
        position: absolute;
        bottom: 20px;
        font-weight: $font-w-bold;
        text-transform: uppercase;
        color: white;
        left: 17%;
      }
    }
    .categoryPopup__image-container::before{
        content: "";
        background-color: $red-color;
        position: absolute;
        width: 2px;
        height: 50px;
        bottom: 20px;
        left: 10%;

    }
  }
}
