.logoSection {
  @include flexParent(row, nowrap, space-between, center);
  padding: 10px 0;
  height: 13vw;
  max-height: 50px;
 
  @include for-size(s){
    padding: 15px 0;
    max-height: 80px;
  }
  @include for-size(m){
    height: 80px;
    max-height: 90px;
  }
  @include for-size(xl){
    height: 111px;
  }
  .hamburger {
    position: relative;
    cursor: pointer;
    height: 25px;
    width: 25px;
    

    .hamburger__element {
      position: absolute;
      background-color: black;
      height: 2px;
      width: 60%;
      left: 50%;
      transform: translateX(-50%);
      transition: top .2s linear  ,opacity .2s linear, transform .2s .2s;
    }
    .hamburger__element:nth-child(1) {
      top: 30%;
     
    }
    .hamburger__element:nth-child(2) {
      top: 50%;
      opacity: 1;
    }
    .hamburger__element:nth-child(3) {
      top: 70%;
    }

    @include for-size(s) {
      display: none;
    }
  }
  .hamburger.active{
    .hamburger__element {
      top: 50%;
    }
    .hamburger__element:nth-child(2){
      opacity: 0;
    }
    .hamburger__element:nth-child(1){
      transform:translateX(-50%) rotate(45deg);
    }
    .hamburger__element:nth-child(3){
      transform:translateX(-50%) rotate(-45deg);
    }
  }
  .logoSection__logo-container {
    @include flexParent(row, nowrap, center, center);
    width: 170px;
      max-width: 270px;
    

    .logoSection__logo {
      width: 100%;
      height: auto;
    }
    @include for-size(s){
    
      width: 20vw;
    }
  }
  .logoSection__form {
    display: none;
    width: 30vw;
    max-width: 530px;
   max-height: 50px;
    height: 3vw;
    min-height: 35px;
    margin: 0 20px;
   
    @include for-size(xl){
    
      margin: 0 70px;
    }
   
    .logoSection__input {
      background-color: $gray-color;
      height: 100%;
      font-size: 13px;
      flex-grow: 1;
      padding: 0 13px;
     
    }
    .logoSection__button {
      background-color: $gray-color;
      border: none;
      height: 100%;
      min-width: 35px;
      width: 3vw;
      max-width:50px;
      transition: .3s;
      .logoSection__button-icon {
        color: $icons-color;
        transition: .3s;
        font-size: 1.5vw;
        @include for-size(m){
          font-size: 18px;
        }
        
      }
      
    }
    .logoSection__button:hover{
      background-color: $red-darker-color;
      .logoSection__button-icon {
        color: white;
      }
    }
    @include for-size(s) {
      display: block;
      @include flexParent(row,nowrap,center,center)
    }
  }

  .logoSection__account {
    @include flexParent(row, nowrap, center, center);
    margin-right: 10px;
    max-height: 50px;
    height: 3vw;
    min-height: 35px;
   
    .logoSection__element {
      display: none;
      color: $icons-color;
      transition: 0.3s;
      font-size: 20px;
      height: 100%;
      @include for-size(s) {
        display: block;
        @include flexParent(column, nowrap, center, center);
        padding: 0 15px;
        border-right: $border-color solid 1px;
      }
      @include for-size(m){
        font-size: 25px;
        padding: 0 20px;
      }
      @include for-size(l){
        font-size:30px;
        padding:  0 25px;
      }
      @include for-size(l){
       
        padding:  0 30px;
      }
     
  
      .logoSection__element-text {
        font-size: 8px;
        margin-top: 5px;
        font-weight: $font-w-medium;
        
        @include for-size(m){
          font-size: 10px;
          white-space: nowrap;
        }
      }


     
    }
    
    
    .logoSection__element--acc{
      display: none;
      @include flexParent(column, nowrap, center, center);
   
      border:none;
      @include for-size(s){
        border-right: $border-color solid 1px;
      }
      @include for-size(m){
        border-right:none;
      }
    
    }
    .logoSection__element:last-child{
     border: none;
     
    }
    .logoSection__element--basket{
      max-width: 60px;
      max-height: 60px;
      display: none;
      border:none;
      @include for-size(s){
        @include flexParent(column, nowrap, center, center);
      }
      @include for-size(m){
        display: none;
    }
    }
  }
  .logoSection__element:hover {
    color: $red-color;
 
  }
}


