*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

html{
    font-family: $font-f-default;
    color: $text-color;
}

.wrapper{
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 320px;
}
a{
    text-decoration: none;
}

input{
        
      all:unset
    
}

.bold{
    font-weight: $font-w-bold;
}
