.roomsPopup{
    width: 100vw;
    position: absolute;
    top: $logoSection-height;
    left: 0;
    @include flexParent(row,wrap,space-evenly,flex-start);
    .roomsPopup__element{
        position: relative;
        background-color: rgb(125, 182, 163);
        width: 21%;
        margin: 10px 0;
        height: 100px;
        .roomsPopup__text{
            padding-left: 10px;
            position: absolute;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            bottom: 10%;
            left: 5%;
            
        }
        .roomsPopup__text::before{
            position: absolute;
            content: "";
            background-color: $red-darker-color;
            height: 100%;
            width: 2px;
            left: 0;
            top:0;
        }
    }
}